mule/apm-storage-osv2/src/main/mule/partner-manager-content-storage-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="partner-manager-content-storage-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="pkcs12" path="keystore.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="partner-manager-content-storage-api-config" api="resource::com.mulesoft.b2b:partner-manager-content-storage-api:1.0.0:raml:zip:partner-manager-content-storage-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <os:object-store name="Object_store" doc:name="Object store" doc:id="adeb557c-f102-40fa-88a3-c3a8b463885e" maxEntries="1000" entryTtl="30" entryTtlUnit="DAYS" expirationIntervalUnit="DAYS" />
	<configuration-properties doc:name="Configuration properties" doc:id="9cf38c0d-fbf8-44c8-b0cd-e9f01647b2bd" file="app.properties" />
	<api-gateway:autodiscovery apiId="${auto-discovery.api-id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="1a89e00e-dba0-4b9d-999d-ee43aaa9d6ec" flowRef="partner-manager-content-storage-api-main" />
	<flow name="partner-manager-content-storage-api-main">
        <http:listener config-ref="partner-manager-content-storage-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="partner-manager-content-storage-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND, OS:KEY_NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\organizations\(orgId)\environments\(envId)\contents\(contentRecordId):partner-manager-content-storage-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="envId">attributes.uriParams.'envId'</ee:set-variable>
                <ee:set-variable variableName="contentRecordId">attributes.uriParams.'contentRecordId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<os:retrieve doc:name="Retrieve" doc:id="f7581cf3-be5c-4ba1-ac42-0d3ae4c79c95" key="#[vars.contentRecordId]" objectStore="Object_store"/>
		<set-variable value="#[200]" doc:name="httpStatus" doc:id="6e9e7567-9ec9-4249-a974-f3a082698913" variableName="httpStatus" />
    </flow>
    <flow name="post:\organizations\(orgId)\environments\(envId)\contents:partner-manager-content-storage-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="envId">attributes.uriParams.'envId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<set-variable value="#[uuid()]" doc:name="contentRecordId" doc:id="4209ac63-641c-4272-a5b2-d517f7205493" variableName="contentRecordId"/>
		<os:store doc:name="Store" doc:id="0added6f-cb3e-4f98-97ee-cb6c32658f48" key="#[vars.contentRecordId]" objectStore="Object_store"/>
		<set-payload value="#[null]" doc:name="Set Payload" doc:id="19f93e31-fe1d-414f-a69a-87043935a162" />
		<set-variable value='#[{"contentRecordId": vars.contentRecordId}]' doc:name="outboundHeaders" doc:id="753210d4-0fc9-4e6f-8677-949a17e3277c" variableName="outboundHeaders"/>
		<set-variable value="#[201]" doc:name="httpStatus" doc:id="0495b1c1-bf50-4fb8-b691-a746112dffaf" variableName="httpStatus"/>
    </flow>
</mule>
